@page "/form"

<div class="grid-container">
    <div class="border">
        <h3>Ürün</h3>
        <div class="flex-container">
            <div class="input-container item">
                <label for="tbOverview" class="">
                    Username
                </label>
                <DxTextBox @bind-Text="@TextValue" CssClass="" InputId="tbOverview" />
            </div>
            <div class="input-container item">
                <label for="tbOverview" class="">
                    Username
                </label>
                <DxTextBox @bind-Text="@TextValue" CssClass="" InputId="tbOverview" />
            </div>
            <div class="input-container item">
                <label for="tbOverview" class="">
                    Username
                </label>
                <DxTextBox @bind-Text="@TextValue" CssClass="" InputId="tbOverview" />
            </div>
            <div class="input-container item">
                <label for="tbOverview" class="">
                    Username
                </label>
                <DxTextBox @bind-Text="@TextValue" CssClass="" InputId="tbOverview" />
            </div>
            <div class="input-container item">
                <label for="tbOverview" class="">
                    Username
                </label>
                <DxTextBox @bind-Text="@TextValue" CssClass="" InputId="tbOverview" />
            </div>
        </div>
    </div>

    <div class="border">
        <h3>Onay Durumu</h3>
        <div class="checkbox-container">
            <DxCheckBox CssClass="w-100"
                        @bind-Checked="@MultimediaChecked"
                        Alignment="@Alignment"
                        LabelPosition="@LabelPosition">
                Multimedia
            </DxCheckBox>

            <DxCheckBox CssClass="w-100"
                        @bind-Checked="@MultimediaChecked"
                        Alignment="@Alignment"
                        LabelPosition="@LabelPosition">
                Multimedia
            </DxCheckBox>
            <DxCheckBox CssClass="w-100"
                        @bind-Checked="@MultimediaChecked"
                        Alignment="@Alignment"
                        LabelPosition="@LabelPosition">
                Multimedia
            </DxCheckBox>
        </div>

    </div>
</div>

@code {
    string TextValue { get; set; }
    bool MultimediaChecked { get; set; }
    CheckBoxContentAlignment Alignment { get; set; }
    LabelPosition LabelPosition { get; set; }
}

<style>
    .size{
        width:200px;
    }
    .item{
        padding:10px;
    }
    
    .flex-container {
        display: flex;
        justify-content: space-between; /* Adjust spacing as needed */
    }
    .border{
        border:2px;
        padding:10px;
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr); /* 4 eşit sütun */
        grid-gap: 10px; /* Öğeler arası boşluk */
    }
    .demo-text{
        padding:20px;
    }

    .flex-container {
        display: flex;
    }

    .input-container {
        flex: 1;
    }

    .checkbox-container {
        display: flex;
        flex-direction: column;
    }
</style>
